.sidebar {
  width: 240PX;
  height: 100%;
  border-inline-end: 1PX solid rgba(0, 0, 0, .1);
  overflow: auto;
  background-color: var(--sidebar-background-color, #fff);

  .sidebar__separator {
    margin: 14PX 16PX 4PX 40PX;
    padding: 4PX 0;
    border-bottom: 1PX solid #e6e6e6;
    font-size: 14PX;
    color: #8c8b8c;
  }

  .sidebar__item {
    display: flex;
    align-items: center;
    width: calc(100% - 5PX);
    height: 40PX;
    margin: 5PX 0 5PX 5PX;
    padding: 6PX 16PX 6PX 40PX;
    border-radius: 8PX 0 0 8PX;
    box-sizing: border-box;
    font-size: 14PX;
    transition: background-color 0.2s;
    font-family: Avenir,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,
      'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji',
      'Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji',sans-serif;
    color: var(--sidebar-color, #666);

    &:hover {
      background-color: var(--sidebar-hover-background-color, #f3f3f3);
    }

    &.active {
      border-right: 2PX solid #1677ff;
      background-color: var(--sidebar-active-background-color, #e6f4ff);
      color: var(--sidebar-active-color, #1677FF);
    }
  }
}