.page_content {
  padding: 20px;

  .content_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
      
    .list_entry {
      width: fit-content;
      min-height: auto;
      height: 80px;
      text-align: center;
      line-height: 80px;
    }
  }
}
taro-button-core+taro-button-core{
   margin-top: 0px!important;
}