.week {
  padding: 0!important;
}
.week-calendar-e{
 max-width: 100vw;
 box-sizing: border-box;
}
 .calendar__page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200PX;
  border-radius: 4PX;
  font-size: 20PX;
  background-color: #f1f1f1;
  color: #a0a0a0;
}