.calendar{
  width: 100%;
  height: 118px;
  display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
  background: linear-gradient(90deg, #00d0ff 0%, #0074ff 100%);

}

.calendar-c-day {
  height: 100%;
  width: 660px;
  position: relative;
  z-index: 1;
  display: flex;
  //   flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.calendar-c-icon {
  position: relative;
  right: 5px;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.8;
  margin-top: 5px;
  .date-icon {
    &::before {
      color: #FFFFFF;
      font-size: 35px;
    }
  }

  .down-arrow-icon {
    margin-top: 9px;
    opacity: 0.8;
    &::before {
      color: #FFFFFF;
      font-size: 22px;
    }
  }
}

.calendar-c-day-panel {
  position: absolute;
  left: 0;
  width: fit-content;
}

.calendar-c-day-wrapper {
  width: 110px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: inline-block;

  &.selected {
    background-color: #0099ff;
    border-radius: 4px;
	  opacity: 1;
    border-radius: 2;
    .calendar-c-day-week {
       opacity: 1;
    }

    .calendar-c-date {
       opacity: 1;
    }
  }

  .calendar-c-day-week {
    text-align: center;
    padding-top: 19px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0px;
  	color: rgb(255,255,255);
    opacity: 0.8;
  }

  .calendar-c-date {
    text-align: center;
    margin-top: 15px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0px;
    opacity: 0.8;
   	color:rgb(255,255,255);
  }
}