@mixin modeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22PX;
  height: 22PX;
  border: 1PX solid var(--mode-btn-border-color, #999);
  border-radius: 22PX;
  cursor: pointer;
  background-color: var(--mode-btn-background-color, #fafbfc);
}

@mixin buttonImage {
  width: 14PX;
  height: 14PX;
  transform: scale(1);
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}

@keyframes dropDown {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64PX;
  border-bottom: 1PX solid var(--topbar-border-color, #e6e6e6);
  background-color: var(--topbar-background-color, #fff);

  .topbar--left {
    display: flex;
    align-items: center;

    .topbar--left__logo {
      margin-left: 40PX;
      font-size: 28PX;
      color: #1989fa;
    }

    .topbar--left__search {
      display: flex;
      position: relative;
      align-items: center;
      margin-left: 30PX;

      .topbar__search__input {
        width: 180PX;
        height: 20PX;
        padding: 4PX 35PX 4PX 15PX;
        border: 1PX solid transparent;
        border-radius: 3PX;
        outline: none;
        font-size: 14PX;
        line-height: 20PX;
        transition: border-color 0.15s ease-out, background-color 0.15s ease-out;
        background: {
          color: var(--topbar-search-background-color, #f5f7fa);
          image: url('../../../website/assets/images/svg/search.svg');
          repeat: no-repeat;
          position: center right 10PX;
          size: 15PX;
        };
        color: var(--topbar-search-color, #050505);
  
        &.focus {
          background-color: transparent;
          border-color:#0099ff;
        }
      }
    
      .topbar__search__associate {
        display: none;
        position: absolute;
        top: 32PX;
        left: 0;
        z-index: 1;
        min-width: 300PX;
        max-height: 200PX;
        padding: 5PX 0;
        box-sizing: border-box;
        overflow-y: auto;
        border: 1PX solid transparent;
        background-color: var(--topbar-search-associate-background-color, #fff);
        color: #717484;
    
        &.active {
          display: block;
          border-color: #eee;
  
          &::-webkit-scrollbar {
            width: 15PX;
            height: 0;
            background-color: var(--scrollbar-color, rgb(238, 238, 238));
          }
        
          &::-webkit-scrollbar-thumb {
            background-color: var(--scrollbar-thumb-color, rgb(200, 200, 200));;
          }
        }
  
        &.empty {
          display: flex;
          justify-content: center;
          align-items: center;
          border-color: #eee;
        }
  
        .associate__item {
          height: 35PX;
          padding: 0 20PX;
          line-height: 35PX;
          white-space: nowrap;
          cursor: pointer;
          font-size: 15PX;
          font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,
            Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,
            sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  
          &.item--hover {
            background-color: #eff5f8;
            color: #0099ff;
          }
        }
  
        .associate__empty {
          height: 60PX;
        }
      }
    }
  }

  .topbar--right {
    display: flex;
    align-items: center;
    height: 100%;

    .topbar__tabs {
      display: flex;
      position: relative;
      align-items: center;
      height: 100%;
      font-size: 14PX;
  
      .tabs__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64PX;
        height: 100%;
        color: var(--topbar-tabs-color, #666);
  
        &:hover {
          color: #0099ff;
        }
  
        &:active {
          color: #000;
        }
        
        &.active {
          color: #0099ff;
  
          &::before {
            display: block;
            position: absolute;
            content: '';
            bottom: 0;
            width: 64PX;
            height: 2PX;
            background-color: #0099ff;
          }
        }
      }
    }

    .topbar__mode {
      position: relative;
      margin-right: 20PX;

      .mode__btn {

        @include modeButton();
        position: relative;
        z-index: 2;
  
        .mode__image {
          @include buttonImage();
        }
      }

      .mode__drop-down {
        position: absolute;
        top: calc(100% + 5PX);
        animation: dropDown .2s linear;
        z-index: 1;

        .drop-down__btn {
          @include modeButton();
          margin-bottom: 5PX;

          .btn__image {
            @include buttonImage();
          }
        }
      }
    }
  }
}