$classNamePrefix: "tabs";
.#{$classNamePrefix}-root {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  color: #666666;
  .#{$classNamePrefix}-tab {
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.#{$classNamePrefix}-active {
      color: #09f;
      font-weight: 700;
      position: relative;
      &::before {
        opacity: 1;
      }
    }
    transition: all .3s;
    &::before {
      content: " ";
      position: absolute;
      left: 50%;
      bottom: 5px;
      width: 54px;
      height: 6px;
      border-radius: 3px;
      background-color: #09f;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity .3s;
    }
  }
  .#{$classNamePrefix}-sublabel {
    color: #999;
    font-weight: normal;
    padding-left: 3px;
  }
}
