@mixin showScrollbarY {

  &::-webkit-scrollbar {
    width: 15PX;
    height: 0;
    background-color: var(--scrollbar-color, rgb(238, 238, 238));
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color, rgb(200, 200, 200));;
  }
}

.guide-pages {
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--page-background-color, #fff);

  .pages__sidebar {
    @include showScrollbarY();

    position: sticky;
    top: 0;
    height: 100vh;
    padding: 15PX 0 20PX 0;
  }

  .pages__views {
    width: calc(100vw - 240PX);
  }
}