
.lg-calendar-e {
    height: 210px;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 20px;
    .lg-calendar-e-item {
        margin-top: 56px;
        margin: 56px 30px 0;
        display: inline-block;
        .lg-calendar-date {
            font-family: PingFang-SC-Regular;
            font-size: 30px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 30px;
            letter-spacing: -1px;
            color: #717171;
        }
        .lg-calendar-week {
            margin-top: 19px;
            width: 80px;
            height: 80px;
            font-family: PingFang-SC-Regular;
            font-size: 30px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 30px;
            letter-spacing: -1px;
            color: #989898;
            display: flex;
            justify-content: center;
            align-items: center;
            &.passWeek {
                color: #101010;
            }
        }
        &.selected {
            .lg-calendar-week {
                border-radius: 80px;
                background-color: #00a2ff;
                color: #ffffff;
            }
        }
    }
}