.index-wrapper {
  padding: 8px;
  background-color: aliceblue;
  .w-60 {
    width: 60%;
    margin: 0 auto;
  }
  .add-btn {
    width: 120px;
  }
  .mini-btn {
    margin-right: 10rpx;
    margin-top: 20px;
  }
  .small-btn {
    width: 181px;
  }
}
